<div class="list" *ngIf="!loading">
  <h3 class="list__title">{{ title }}</h3>

  <div class="list__empty" *ngIf="!items!.length">Add your first wallet</div>
  <div class="list__item" *ngFor="let item of items">
    <div class="list__item-info" (click)="onItemClick(item.id)">
      <p>{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>

    <div class="list__item-btns">
      <button
        class="btn-delete"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        nzPopconfirmPlacement="left"
        (nzOnConfirm)="onDeleteItem(item.id)"
      ></button>

      <button class="btn-edit" (click)="onEditItem(item.id)"></button>
    </div>
  </div>

  <button class="list__btn-add" nz-button nzType="dashed" (click)="onAddItem()">
    + Add wallet
  </button>
</div>
