:host {
  .container {
    padding-bottom: 80px;
  }

  .activate {
    padding: 3px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(241, 204, 192);
    font-size: 0.7rem;
    font-weight: 500;
  }
}
