:host {
  .layout {
    min-height: 100vh;

    .container {
      max-width: 700px;
      margin: 0 auto;
    }

    .header {
      z-index: 1000;
      position: fixed;
      width: 100%;
    }

    .content {
      margin: 84px 0;

      &__container {
        max-width: 700px;
        margin: 0 auto;
        background: #fff;
        padding: 15px;
      }
    }

    .footer {
      z-index: 1000;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
