:host {
  form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form__top {
    display: flex;
    gap: 10px;

    nz-form-item {
      width: 50%;
    }
  }

  .form__bottom {
    display: flex;
    gap: 10px;
  }
}
