<form nz-form [formGroup]="moneymoveForm">
  <div class="form__top">
    <nz-form-item style="margin: 0">
      <nz-form-control>
        <input
          type="number"
          nz-input
          formControlName="amount"
          placeholder="Enter amount"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin: 0">
      <nz-form-control>
        <nz-select
          formControlName="category"
          nzPlaceHolder="Select category"
          (ngModelChange)="genderChange($event)"
        >
          <nz-option nzValue="some" nzLabel="some"></nz-option>
          <nz-option nzValue="basic" nzLabel="basic"></nz-option>
          <nz-option nzValue="categories" nzLabel="categories"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="form__bottom">
    <nz-form-item style="margin: 0; width: 85%">
      <nz-form-control>
        <input
          type="text"
          nz-input
          formControlName="comment"
          placeholder="Add comment"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="margin: 0; width: 15%">
      <nz-form-control>
        <button nz-button nzType="primary" style="width: 100%"  (click)=submitForm()>Add</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
