:host {
  .wallets-list {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    nz-card {
      min-width: 48%;
      flex-grow: 1;
    }

    .empty {
      width: 100%;
    }
  }
}
