<div class="login-page">
  <div class="login-page__card">
    <div class="logo"></div>

    <form nz-form [formGroup]="loginForm" class="login-form">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailError">
          <nz-input-group>
            <input
              type="text"
              nz-input
              [formControlName]="formControls.Email"
              placeholder="E-mail"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordError">
          <nz-input-group>
            <input
              type="password"
              nz-input
              [formControlName]="formControls.Password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" (click)="submitForm()">Log in</button>
    </form>
  </div>
</div>

<ng-template #emailError let-control>
  <ng-container *ngIf="control.hasError('required')">
    <small>Please input your email!</small>
  </ng-container>

  <ng-container *ngIf="control.hasError('email')">
    <small>Please input correct email!</small>
  </ng-container>

  <ng-container *ngIf="control.hasError('wrong')">
    <small>Incorrect email!</small>
  </ng-container>
</ng-template>

<ng-template #passwordError let-control>
  <ng-container *ngIf="control.hasError('required')">
    <small>Please input your password!</small>
  </ng-container>

  <ng-container *ngIf="control.hasError('wrong')">
    <small>Incorrect password!</small>
  </ng-container>
</ng-template>
