<form nz-form [formGroup]="moneyMoveForm">
  <nz-form-item>
    <nz-form-control>
      <input
        type="number"
        nz-input
        [formControlName]="formControls.Amount"
        placeholder="Enter amount"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-select
        [formControlName]="formControls.Category"
        nzPlaceHolder="Select category"
      >
        <nz-option
          *ngFor="let category of categories$ | async"
          [nzValue]="category.name"
          [nzLabel]="category.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <input
        type="text"
        nz-input
        [formControlName]="formControls.Comment"
        placeholder="Add comment"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-date-picker
        [formControlName]="formControls.Date"
        [nzDisabledDate]="disabledDates"
        nzFormat="dd.MM.YYYY"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <div>
    <nz-upload
      [nzAction]="'https://www.mocky.io/v2/5cc8019d300000980a055e76'"
      nzListType="picture-card"
      [(nzFileList)]="uploadImages"
      [nzShowButton]="uploadImages.length < 1"
      [nzPreview]="handlePreview"
    >
      <div>
        <div>Upload check</div>
      </div>
    </nz-upload>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzContent]="modalContent"
      [nzFooter]="null"
      (nzOnCancel)="previewVisible = false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </nz-modal>
  </div>

  <div class="form__footer">
    <button nz-button (click)="onCancelButtonClick()">Cancel</button>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="onSubmitButtonClick()">
          OK
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
