<form nz-form [formGroup]="moneyMoveForm">
  <nz-form-item>
    <label class="required-label" [for]="formControls.Amount">Amount</label>
    <nz-form-control>
      <input
        type="number"
        nz-input
        [formControlName]="formControls.Amount"
        placeholder="Enter amount"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label class="required-label" [for]="formControls.Category">Category</label>
    <nz-form-control>
      <nz-select
        [formControlName]="formControls.Category"
        nzPlaceHolder="Select category"
      >
        <nz-option
          *ngFor="let category of categories$ | async"
          [nzValue]="category.name"
          [nzLabel]="category.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label [for]="formControls.Comment">Comment</label>

    <nz-form-control>
      <input
        type="text"
        nz-input
        [formControlName]="formControls.Comment"
        placeholder="Add comment"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label [for]="formControls.Date">Date</label>

    <nz-form-control>
      <nz-date-picker
        [formControlName]="formControls.Date"
        [nzDisabledDate]="disabledDates"
        nzFormat="dd.MM.YYYY"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!imageUrl">
    <label>Upload check</label>

    <nz-form-control>
      <input
        type="file"
        accept="image/*"
        (change)="handleImageUpload($event)"
      />
    </nz-form-control>
  </nz-form-item>

  <img class="check" [src]="imageUrl" (click)="handleImageClick()" />

  <div class="form__footer">
    <button nz-button (click)="onCancelButtonClick()">Cancel</button>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="onSubmitButtonClick()">
          OK
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
