<div class="home">
  <nz-spin [nzSpinning]="loading">
    <div class="card" *ngIf="!loading">
      <h3 class="card__title">Choose your wallet</h3>

      <div
        class="card__item"
        *ngFor="let wallet of wallets"
        [routerLink]="[walletRoute, wallet._id]"
      >
        <p>{{ wallet.name }}</p>
        <p>{{ wallet.amount }} {{ wallet.currency }}</p>
        <button
          class="card__btn-delete"
          (click)="removeWallet($event, wallet._id)"
        ></button>
      </div>

      <button
        class="card__btn-add"
        nz-button
        nzType="dashed"
        (click)="showModal()"
      >
        + Add wallet
      </button>
    </div>
  </nz-spin>
</div>
