<div class="stat">
  <nz-date-picker
    nzMode="month"
    class="stat__date-picker"
    nzFormat="MM.YYYY"
    [formControl]="datePicker"
    [nzDisabledDate]="disabledDates"
    (ngModelChange)="onDateChange()"></nz-date-picker>

  <nz-empty
    nzNotFoundImage="simple"
    *ngIf="!(statistics$ | async).length"
    class="stat__empty"></nz-empty>

  <div class="stat__pie">
    <ngx-charts-pie-chart [results]="chartOptions" #tooltipTemplate>
      <ng-template #tooltipTemplate let-model="model">
        <div class="stat__tools">
          <div>
            {{ model.name }}
          </div>
          <div>{{ model.value }} {{ currency$ | async }}</div>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>

  <div class="stat__list">
    <div class="stat__item" *ngFor="let item of statistics$ | async">
      <div class="stat__item-header">
        <p class="stat__item-name">{{ item.category }}</p>
        <div class="stat__item-sum">
          <p>{{ item.amount }}</p>
          <p>{{ currency$ | async }}</p>
        </div>
      </div>
      <div class="stat__progress">
        <nz-progress
          [nzPercent]="
            (item.amount / totalMoneyMoveSum) * 100 | number: '1.0-2'
          "></nz-progress>
      </div>
    </div>
  </div>
</div>
