<div class="container">
  <nz-alert
    *ngIf="!user.isActivated"
    nzType="warning"
    nzShowIcon
    nzMessage="Please, activate your account"
  ></nz-alert>

  <div class="profile">
    <button
      *ngIf="!isUserFormVisible"
      class="profile__edit-btn"
      (click)="onProfileEditBtnClick()"
    >
      🖊️
    </button>
    <div class="profile__img">
      <nz-avatar nzText="🙎‍♂‍" [nzSize]="60"></nz-avatar>
    </div>

    <div class="profile__user" [ngSwitch]="isUserFormVisible">
      <div class="not-editable" *ngSwitchCase="false">
        <div class="name">
          {{ user.username }}
        </div>
        <div class="email">
          {{ user.email }}
        </div>
      </div>

      <div class="editable" *ngSwitchCase="true">
        <form nz-form [formGroup]="userForm">
          <nz-form-item>
            <nz-form-control>
              <input
                type="text"
                nz-input
                placeholder="Username"
                [formControlName]="userFormControls.Username"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <input
                type="text"
                nz-input
                placeholder="Email"
                [formControlName]="userFormControls.Email"
              />
            </nz-form-control>
          </nz-form-item>

          <div class="user-form__btns">
            <button nz-button nzSize="small" (click)="onUserFormSubmit()">
              <i nz-icon nzType="close" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
              (click)="onUserFormCancel()"
            >
              <i nz-icon nzType="check" nzTheme="outline"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div class="password">
    <p class="password__title">Change password</p>
    <form nz-form [formGroup]="passwordForm">
      <nz-form-item>
        <nz-form-control>
          <input
            type="password"
            nz-input
            placeholder="Current password"
            [formControlName]="passwordFormControls.prevPassword"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input
            type="password"
            nz-input
            placeholder="New password"
            [formControlName]="passwordFormControls.newPassword"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input
            type="password"
            nz-input
            placeholder="Confirm new password"
            [formControlName]="passwordFormControls.confirmPassword"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button nz-button nzType="primary" (click)="onPasswordFormSubmit()">
          Confirm
        </button>
      </nz-form-item>
    </form>
  </div>

  <nz-divider></nz-divider>

  <button nz-button nzType="default" (click)="onLogoutBtnClick()">
    Logout
  </button>
</div>
