:host {
  .profile {
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    &__btn {
      padding-right: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #999;
      border: none;
      background: none;
      background: url('/assets/images/logout-btn.svg') no-repeat center right;
      background-size: 20px;
    }
  }
}
