<nz-tabset nzType="card" nzCentered>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
    <div class="tab">
      <nz-date-picker
        nzMode="month"
        class="date-picker"
        [(ngModel)]="date"
        (ngModelChange)="onDateChange($event)"
      ></nz-date-picker>

      <ng-container [ngSwitch]="tab">
        <ng-container *ngSwitchCase="tabNames.Expenses">
          <app-money-move-day-card
            *ngFor="let day of monthMoneyMove"
            [items]="day.expenses"
            [title]="day.date.format('DD.MM')"
            [walletCurrency]="walletCurrency$ | async"
            [amount]="day.expensesSum"
          ></app-money-move-day-card>
        </ng-container>

        <ng-container *ngSwitchCase="tabNames.Income">
          <app-money-move-day-card
            *ngFor="let day of monthMoneyMove"
            [items]="day.income"
            [title]="day.date.format('DD.MM')"
            [walletCurrency]="walletCurrency$ | async"
            [amount]="day.incomeSum"
          ></app-money-move-day-card>
        </ng-container>
      </ng-container>
    </div>
  </nz-tab>
</nz-tabset>
