<nz-tabset nzType="card" nzCentered>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="onTabClick(tab)">
    <div class="tab">
      <form nz-form [formGroup]="form">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker
              [formControlName]="formControls.Date"
              nzMode="month"
              class="date-picker"
              (ngModelChange)="onDateChange($event)"
              [nzDisabledDate]="disabledDates"
              [nzPlaceHolder]="today.format('MM.YYYY')"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div
        class="body"
        *ngFor="let day of (moneyMove$ | async).slice().reverse()"
      >
        <app-money-move-day-card
          *ngIf="day.moneyMove.length"
          [title]="day.date.format('DD.MM')"
          [amount]="day.moneyMoveSum"
          [items]="day.moneyMove"
          [categories]="categories$ | async"
          [currency]="currency$ | async"
          (onRemoveItem)="removeMoneyMoveItem($event)"
          (onEditItem)="editMoneyMoveItem($event, form.value.date)"
        ></app-money-move-day-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
