:host {
  .tab {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .date-picker {
    width: 300px;
  }

  nz-date-picker {
    margin-bottom: 20px;
  }

  .body {
    width: 100%;
  }
}
