:host {
  width: 100%;

  .title {
    padding: 5px 0;
    background-color: #abe8ff;
    font-weight: 500;
    text-align: center;

    span {
      font-weight: 600;
    }
  }

  .empty {
    padding: 5px 0;
    text-align: center;
  }

  .card {
    position: relative;
    padding: 15px 35px;
    border-bottom: 1px solid #abe8ff;
    cursor: pointer;

    &__title {
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      font-weight: 600;
    }

    &__btn-del {
      position: absolute;
      right: 0;
      top: 10px;
      height: 12px;
      width: 12px;
      background: none;
      background: url('/assets/images/delete-btn.svg') no-repeat center center;
      background-size: contain;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      opacity: 0;
    }

    &__btn-del:hover {
      filter: brightness(0.7);
    }
  }

  .card:hover .card__btn-del {
    opacity: 1;
    right: 10px;
  }

  p {
    margin: 0;
  }
}
