<form nz-form [formGroup]="loginForm">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="usernameError">
      <input
        type="text"
        nz-input
        [formControlName]="formControls.Email"
        placeholder="Username" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordError">
      <input
        type="password"
        nz-input
        [formControlName]="formControls.Password"
        placeholder="Password" />
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" (click)="submitForm()">Log in</button>
  <div class="or">or</div>
  <button
    nz-button
    nzType="dashed"
    (click)="handleRouteClick(routes.Registration)">
    Sign up
  </button>
</form>

<ng-template #usernameError let-control>
  <ng-container *ngIf="control.hasError(controlErrors.Required)">
    <small>This field is required</small>
  </ng-container>
</ng-template>

<ng-template #passwordError let-control>
  <ng-container *ngIf="control.hasError(controlErrors.Required)">
    <small>This field is required</small>
  </ng-container>
</ng-template>
