<div class="logo"></div>

<form nz-form [formGroup]="loginForm">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input
          type="text"
          nz-input
          [formControlName]="formControls.Username"
          placeholder="Username"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input
          type="password"
          nz-input
          [formControlName]="formControls.Password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" (click)="submitForm()">Log in</button>
</form>
