<div class="container">
  <div class="upd-section">
    <p class="title">Update wallet</p>
    <app-wallet-form [wallet]="wallet"></app-wallet-form>
    <button nz-button nzType="primary">Update</button>
  </div>

  <nz-divider></nz-divider>

  <div class="tags-section">
    <p class="title">Update categories</p>
    <div class="subtitle">Expense</div>
    <div class="tags">
      <nz-tag
        *ngFor="let category of expenseCategories$ | async"
        nzMode="closeable"
        class="tag"
      >
        {{ category.name }}
      </nz-tag>
      <nz-tag
        *ngIf="!inputVisible"
        class="editable-tag"
        nzNoAnimation
        (click)="showInput()"
      >
        + New Tag
      </nz-tag>
      <input
        #inputElement
        nz-input
        nzSize="small"
        *ngIf="inputVisible"
        type="text"
        [(ngModel)]="inputValue"
        (blur)="handleInputConfirm()"
        (keydown.enter)="handleInputConfirm()"
      />
    </div>
    <div class="subtitle">Income</div>
    <div class="tags">
      <nz-tag
        *ngFor="let category of incomeCategories$ | async"
        nzMode="closeable"
      >
        {{ category.name }}
      </nz-tag>
    </div>
  </div>

  <nz-divider></nz-divider>

  <button nz-button nzType="primary" nzDanger="true">Delete wallet</button>
</div>
