:host {
  .title {
    font-weight: 600;
  }

  .subtitle {
    font-weight: 500;
    color: #999;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;

    .tag {
      margin: 0 !important;
    }

    input {
      width: 78px;
    }

    .editable-tag {
      background: rgb(255, 255, 255);
      border-style: dashed;
    }
  }
}
