<div class="container">
  <div class="header">
    <nz-date-picker
      nzMode="month"
      class="date-picker"
      nzFormat="MM.YYYY"
      [formControl]="datePicker"
      [nzDisabledDate]="disabledDates"
      (ngModelChange)="onDateChange($event)"
    ></nz-date-picker>

    <button nz-button nzType="primary" (click)="printAddMoneyMoveItemModal()">
      Add {{ currentTab$ | async }}
    </button>
  </div>

  <div *ngFor="let day of (moneyMove$ | async).slice().reverse()">
    <app-money-move-day-card
      [title]="day.date.format('DD.MM')"
      [amount]="day.moneyMoveSum"
      [items]="day.moneyMoveItems"
      [currency]="currency$ | async"
      (onRemoveItem)="removeMoneyMoveItem($event)"
      (onItemClick)="printEditMoneyMoveItemModal($event)"
    ></app-money-move-day-card>
  </div>
</div>
