:host {
  font-size: 1rem;

  .header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .form {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .sort-btn {
    width: 15px;
    height: 15px;
    background: url('/assets/images/sort-btn.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 700px) {
    .container {
      width: 90%;
    }
  }
}
