<div class="container">
  <div class="header">
    <div class="form">
      <nz-date-picker
        nzMode="month"
        class="date-picker"
        nzFormat="MM.YYYY"
        [formControl]="datePicker"
        [nzDisabledDate]="disabledDates"
        (ngModelChange)="onDateChange()"
      ></nz-date-picker>

      <div class="sort-btn" (click)="onSortBtnClick()"></div>
    </div>

    <button nz-button nzType="primary" (click)="printAddMoneyMoveItemModal()">
      Add {{ moneyMoveType }}
    </button>
  </div>

  <nz-empty
    nzNotFoundImage="simple"
    *ngIf="!(moneyMove$ | async).length"
  ></nz-empty>

  <div *ngFor="let day of moneyMove$ | async">
    <app-money-move-day-card
      [title]="day.date.format('DD.MM')"
      [amount]="day.moneyMoveSum"
      [items]="day.moneyMoveItems"
      [currency]="currency$ | async"
      (onRemoveItem)="removeMoneyMoveItem($event)"
      (onItemClick)="printEditMoneyMoveItemModal($event)"
    >
<!--      <ng-template moneyMoveDayCardItemDirective let-item>-->
<!--        <div> My item {{ item.category }} amount {{ item.amount }}</div>-->
<!--      </ng-template>-->
      <money-move-day-card-item-directive>
        <ng-template let-item>
          <div>My new item</div>
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
        </ng-template>
      </money-move-day-card-item-directive>
    </app-money-move-day-card>
  </div>
</div>





<!--      <ng-template moneyMoveDayCardItemDirective let-item>-->
<!--        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>-->
<!--      </ng-template>-->
<!--       <money-move-day-card-item-directive>-->
<!--         <ng-template let-item>-->
<!--           <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>-->
<!--         </ng-template>-->
<!--       </money-move-day-card-item-directive>-->

<ng-template #itemTemplate let-item>
  {{ item.category }}
</ng-template>

