<form nz-form [formGroup]="moneyMoveForm">
  <nz-form-item>
    <nz-form-control>
      <input
        type="number"
        nz-input
        [formControlName]="formControls.Amount"
        placeholder="Enter amount"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-select
        [formControlName]="formControls.Category"
        nzPlaceHolder="Select category"
      >
        <nz-option
          *ngFor="let category of categories"
          [nzValue]="category.name"
          [nzLabel]="category.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form__comment">
    <nz-form-control>
      <input
        type="text"
        nz-input
        [formControlName]="formControls.Comment"
        placeholder="Add comment"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form__comment">
    <nz-form-control>
      <nz-date-picker [formControlName]="formControls.Date"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>
