:host {
  nz-form-item {
    margin-bottom: 5px;
  }

  label {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(102, 102, 102);
  }

  .required-label::before {
    content: '*';
    color: #ff0000;
  }

  nz-date-picker {
    width: 100%;
  }

  [type='file'] {
    color: #ffffff;
  }

  [type='file']::-webkit-file-upload-button {
    background: none;
    border: none;
    border: 1px solid #d9d9d9;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .check {
    width: 100%;
    margin-bottom: 10px;
  }

  .check-reset-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
