:host {
  .footer__nav {
    li {
      width: 25%;

      .footer__nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      i {
        font-size: 23px;
      }
    }
  }
}
