<ul class='footer__nav' nz-menu nzTheme='dark' nzMode='horizontal'>
  <li nz-menu-item [routerLink]='ROUTER.EXPENSE' nzMatchRouter (click)='onRouteClick(ROUTER.EXPENSE)'>
    <div class='footer__nav-item'>
      <i nz-icon nzType='ng-zorro:expense'></i>
      expense
    </div>

  </li>
  <li nz-menu-item [routerLink]='ROUTER.INCOME' nzMatchRouter (click)='onRouteClick(ROUTER.INCOME)'>
    <div class='footer__nav-item'>
      <i nz-icon nzType='ng-zorro:income'></i>
      income
    </div>
  </li>
  <li nz-menu-item [routerLink]='ROUTER.WALLETS' nzMatchRouter (click)='onRouteClick(ROUTER.WALLETS)'>
    <div class='footer__nav-item'>
      <i nz-icon nzType='ng-zorro:wallet'></i>
      wallets
    </div>
  </li>
  <li nz-menu-item [routerLink]='ROUTER.MENU' nzMatchRouter (click)='onRouteClick(ROUTER.MENU)'>
    <div class='footer__nav-item'>
      <i nz-icon nzType='ng-zorro:menu'></i>
      menu
    </div>
  </li>
</ul>
