<form nz-form [formGroup]="walletForm">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="text"
        placeholder="Wallet name"
        [formControlName]="formControls.Name"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="number"
        placeholder="Initial amount"
        [formControlName]="formControls.Balance"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <nz-select
        nzPlaceHolder="Currency"
        [formControlName]="formControls.Currency"
      >
        <nz-option
          *ngFor="let currency of currencies"
          [nzValue]="currency"
          [nzLabel]="currency"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <nz-select
        [formControlName]="formControls.ExpenseCategories"
        nzMode="tags"
        [nzTokenSeparators]="[',']"
      >
        <!-- [nzTokenSeparators]="[',']"
        nzPlaceHolder="Appoint expense categories" -->
        <!-- <nz-option
          *ngFor="let option of categories$ | async"
          [nzLabel]="option.name"
          [nzValue]="option._id"
        ></nz-option> -->
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <nz-select
        [formControlName]="formControls.IncomeCategories"
        nzMode="tags"
        nzPlaceHolder="Appoint expense categories"
        [nzTokenSeparators]="[',']"
      >
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #requiredError>
  <small>This field is required</small>
</ng-template>
