<form nz-form [formGroup]="walletForm">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="text"
        placeholder="Wallet name"
        [formControlName]="formControls.Name"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="number"
        placeholder="Initial amount"
        [formControlName]="formControls.Amount"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="requiredError">
      <nz-select
        nzPlaceHolder="Currency"
        [formControlName]="formControls.Currency"
      >
        <nz-option
          *ngFor="let currency of currencies"
          [nzValue]="currency"
          [nzLabel]="currency"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form__button">
    <button nz-button nzType="primary" (click)="submitForm()">
      {{ button }}
    </button>
  </nz-form-item>
</form>

<ng-template #requiredError>
  <small>This field is required</small>
</ng-template>
