<div class="amount" *ngIf="wallet$ | async as wallet">
  <div class="amount__name">
    <div (click)="handleRouteClick([routes.Wallet, walletId])">
      {{ wallet.name }}
    </div>

    <div class="amount__nav">
      <div
        class="amount__nav-history"
        (click)="handleRouteClick([routes.History])"
      ></div>
      <div
        class="amount__nav-stat"
        (click)="handleRouteClick([routes.Statistics])"
      ></div>
      <div
        class="amount__nav-sett"
        (click)="handleRouteClick([routes.Settings])"
      ></div>
    </div>
  </div>

  <div class="amount__sum">{{ wallet.balance }} {{ wallet.currency }}</div>
</div>

<router-outlet></router-outlet>
