<ul nz-list [nzDataSource]='archivedWallets$ | async' nzSize='large'>
  <li nz-list-item *ngFor='let wallet of archivedWallets$ | async' nzNoFlex>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a
          nz-tooltip
          nzTooltipTitle='unzip'
          [nzTooltipOverlayStyle]="{'font-size': '13px'}"
          (click)='unzipWallet(wallet)'
        >
          <span nz-icon nzType='upload' nzTheme='outline'></span>
        </a>
      </nz-list-item-action>
    </ul>
    <span>{{ wallet.name }} ({{ wallet.balance }} {{ wallet.currency }})</span>
    <span></span>
  </li>
</ul>
