<form nz-form [formGroup]="walletForm">
  <nz-form-item>
    <label [for]="formControls.Name">Name</label>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="text"
        placeholder="Wallet name"
        [formControlName]="formControls.Name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!wallet">
    <label [for]="formControls.Balance">Initial balance</label>
    <nz-form-control [nzErrorTip]="requiredError">
      <input
        nz-input
        type="number"
        placeholder="Initial amount"
        [formControlName]="formControls.Balance" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <label [for]="formControls.Currency">Currency</label>
    <nz-form-control [nzErrorTip]="requiredError">
      <nz-select
        nzPlaceHolder="Currency"
        [formControlName]="formControls.Currency">
        <nz-option
          *ngFor="let currency of currencies"
          [nzValue]="currency"
          [nzLabel]="currency"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="form__footer">
    <button nz-button *ngIf="!wallet" (click)="onCancelButtonClick()">
      Cancel
    </button>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="onSubmitButtonClick()">
          {{ submitButtonName }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<ng-template #requiredError>
  <small>This field is required</small>
</ng-template>
