<div class="list" *ngIf="!loading">
  <h3 class="list__title">Choose your wallet</h3>

  <div
    class="list__item"
    *ngFor="let wallet of wallets"
    (click)="onItemClick(wallet._id)"
  >
    <div class="list__item-info">
      <p>{{ wallet.name }}</p>
      <p>{{ wallet.amount }} {{ wallet.currency }}</p>
    </div>

    <div class="list__item-btns">
      <button
        class="btn-delete"
        (click)="onDeleteButtonClick($event, wallet._id)"
      ></button>
      <button
        class="btn-edit"
        (click)="onEditItem($event, wallet._id)"
      ></button>
    </div>
  </div>

  <button class="list__btn-add" nz-button nzType="dashed" (click)="onAddItem()">
    + Add wallet
  </button>
</div>
