<div class="list" *ngIf="!loading">
  <h3 class="list__title">Choose your wallet</h3>

  <div
    class="list__item"
    *ngFor="let wallet of wallets"
    [routerLink]="[walletRoute, wallet._id]"
  >
    <p>{{ wallet.name }}</p>
    <p>{{ wallet.amount }} {{ wallet.currency }}</p>
    <button
      class="list__btn-delete"
      (click)="onDeleteButtonClick($event, wallet._id)"
    ></button>
  </div>

  <button
    class="list__btn-add"
    nz-button
    nzType="dashed"
    (click)="onAddButtonClick()"
  >
    + Add wallet
  </button>
</div>
