:host {
  .list {
    width: 350px;
    margin: 0 auto;

    &__title {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    &__item {
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      padding: 5px 35px 5px 15px;
      display: flex;
      justify-content: space-between;
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
    }

    &__btn-delete {
      position: absolute;
      top: calc(50% - 10px);
      right: 2px;
      width: 20px;
      height: 20px;
      background: none;
      background: url("../../../../assets/images/close.svg") no-repeat center
        center;
      background-size: cover;
      border: none;
      cursor: pointer;
    }

    &__btn-add {
      width: 100%;
      font-size: 16px;
    }
  }
}
