@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import '~@ctrl/ngx-emoji-mart/picker';

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
