<form nz-form [formGroup]="registrationForm" class="login-form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="usernameError">
      <input
        type="text"
        nz-input
        [formControlName]="formControls.Username"
        placeholder="Username"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailError">
      <input
        type="email"
        nz-input
        [formControlName]="formControls.Email"
        placeholder="Email"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordError">
      <input
        type="password"
        nz-input
        [formControlName]="formControls.Password"
        placeholder="Password"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="mustMatchError">
      <input
        type="password"
        nz-input
        [formControlName]="formControls.ConfirmPassword"
        placeholder="Confirm password"
      />
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" (click)="submitForm()">Sign up</button>
  <div class="or">or</div>
  <button nz-button nzType="dashed" (click)="handleRouteClick(routes.Auth)">
    Log in
  </button>
</form>

<ng-template #usernameError let-control>
  <ng-container
    *ngIf="
      control.hasError('required') ||
      control.hasError('invalidUsername') ||
      control.hasError('minlength')
    "
  >
    <small> Min length is 3 characters. You can use a-z, _ </small>
  </ng-container>
</ng-template>

<ng-template #emailError let-control>
  <ng-container *ngIf="control.hasError('required')">
    <small>This field is required</small>
  </ng-container>
  <ng-container *ngIf="control.hasError('email')">
    <small>Incorrect email</small>
  </ng-container>
</ng-template>

<ng-template #passwordError let-control>
  <ng-container *ngIf="control.hasError('invalidPassword')">
    <small>Min length is 8 characters (includes A-Z, a-z and number)</small>
  </ng-container>
</ng-template>

<ng-template #mustMatchError let-control>
  <ng-container *ngIf="control.hasError('mustMatch')">
    <small>Passwords don't match</small>
  </ng-container>
</ng-template>
