<div class="home">
  <nz-spin [nzSpinning]="isLoading">
    <div class="card" *ngIf="!isLoading">
      <h3 class="card__title">Choose your wallet</h3>

      <div
        class="card__wallet"
        *ngFor="let wallet of wallets"
        [routerLink]="['/wallet', wallet.id]"
      >
        <p>{{ wallet.name }}</p>
        <p>{{ wallet.amount }} {{ wallet.currency }}</p>
        <button class="lol" nz-button nzType="dashed" class="add-button" (click)="increase($event, wallet)">
          Increase
        </button>
      </div>

      <button class="lol" nz-button nzType="dashed" class="add-button">
        + Add wallet
      </button>

    </div>
  </nz-spin>
</div>
