<nz-tabset nzType="card" nzCentered>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzSelect)="onTabClick(tab)">
    <div class="tab">
      <div class="tab__container">
        <app-moneymove-form
          [walletId]="walletId"
          [tabName]="tab"
          [categories]="displayCategories"
        ></app-moneymove-form>
        <app-moneymove-body
          [amount]="displayAmount$ | async"
          [items]="displayItems$ | async"
          [walletCurrency]="walletCurrency$ | async"
        ></app-moneymove-body>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
