<nz-tabset nzType="card" nzCentered>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="onTabClick(tab)">
    <div class="tab">
      <app-money-move-form
        [categories]="categories$ | async"
        (onSubmit)="addMoneyMoveItem($event)"
      ></app-money-move-form>

      <div *ngFor="let day of (moneyMove$ | async).slice().reverse()">
        <app-money-move-day-card
          [title]="day.date.format('DD.MM')"
          [amount]="day.moneyMoveSum"
          [items]="day.moneyMove"
          [categories]="categories$ | async"
          [currency]="currency$ | async"
          (onRemoveItem)="removeMoneyMoveItem($event)"
          (onEditItem)="editMoneyMoveItem($event)"
        ></app-money-move-day-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
